.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.task-card {
    text-align: center;
    padding: 10px;
    cursor: default;
    border-radius: 15px;
    font-weight: 600;
    border: 5px solid;
}

.completed {
    background-color: #96ceb4;
    color: #0e9aa7;
    border-color: #0e9aa7;
}

.not-completed {
    background-color: #ff6f69;
    color: #ff5c;
    border-color: #ff5c;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0px;
    justify-self: left;
    min-width: 325px;
}

.grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0px;
    margin-left: 20px;
    justify-self: right;
    min-width: 180px;
}